*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    padding:20px 20vw;
}
.pre-pic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding:10px 0 6vw 0;
}
.heading{
    padding:10px 10px 10px 0;
    font-family: "PT Serif", sans-serif;
}
.side-note{
    padding:0 1rem;
     font-family: "Poppins", sans-serif;
}
.vertical{
    writing-mode:vertical-rl;
    font-size: 9px;
    padding: 0 5px;
    font-family: "PT Serif", sans-serif;
}
.pics-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 35vw;
    column-gap: 6vw;
}
.pics{
    padding:10px 0;
    display: flex;
    flex-direction: column;
}
.pics:nth-of-type(2), .pics:nth-of-type(5){
    align-self: end;
}
img{
    display: block;
    width:100%;
    /* height:calc(200*682/476)px; */
}
.vertical-sake{
    display: flex;

}
.horizontal{
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
footer{
    margin:60px 0 0 0;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-family: "PT Serif", sans-serif;
}

/* ipad view */
@media screen and (max-width: 750px) and (min-width: 680px) {
    body{
        padding:20px 15vw;
    }
    .pre-pic{
        display: grid;
        grid-template-columns: 1fr;
    }
    .heading{
        padding:10px 10px 10px 0;
    }
    .side-note{
        padding:0;
    }
    .pics-wrapper{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60vw;
        column-gap: 10vw;
        align-items:flex-end;
    }
    .pics:nth-child(odd){
        align-self: start;
    }
}

/* mobile view */

@media screen and (max-width: 680px) {
    body{
        padding:20px 15vw;
    }
    .pre-pic{
        display: grid;
        grid-template-columns: 1fr;
    }
    .heading{
        padding:10px 10px 10px 0;
    }
    .side-note{
        padding:0;
    }
    
    .pics-wrapper{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 70vw;
        column-gap: 10vw;
        align-items:flex-end;
    }
    .pics:nth-child(odd){
        align-self: start;
    }
    
     
}